a {
    color: inherit;
    text-decoration: none !important;
}

.professor-dashboard{
    background-color: white;
    min-height: 100vh;
    width: 100%;
}

.menuRow {
    padding: 30px;
    row-gap: 80px;
    overflow: hidden;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  font-size: 3rem;
  padding: 30px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.menuBtn:hover {
  transform: scale(1.02);
}

.menuBtn i {
    font-size: 4rem;
}

.bgAlunos {
    background-color: #1abddc;
}

.bgPontuacao {
    background-color: #e91e63;
}

.bgRanking {
    background-color: #f59c00;
}

.bgAvaliacoes {
    background-color: #f59c00;
}

.bgRelatorios {
    background-color: #1abddc;
}

.bgCategorias {
    background-color: #e91e63;
}