:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* Comentado para evitar problemas de dark mode automático */
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
*/

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.professor-dashboard{
    background-color: white;
    min-height: 100vh;
    width: 100%;
}

.info-box{
    justify-content: center;
    align-content: center;
    background-color: #CCCC;
    text-align: center;
    height: 50px;
    color: #124F8F;
    font-size: 25px;
    border-radius: 15px;
    margin-top: -10px;
}

.menuRow {
    padding: 30px;
    row-gap: 80px;
    overflow: hidden;
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  font-size: 3rem;
  padding: 30px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.menuBtn:hover {
  transform: scale(1.02);
}

.menuBtn i {
    font-size: 4rem;
}

.bgAlunos {
    background-color: #1abddc;
}

.bgPontuacao {
    background-color: #e91e63;
}

.bgRanking {
    background-color: #f59c00;
}

.bgAvaliacoes {
    background-color: #f59c00;
}

.bgRelatorios {
    background-color: #1abddc;
}

.bgConfiguracao {
    background-color: #e91e63;
}