.logo {
    width: 15%;
}
.logout-btn{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
}
.logout-btn img {
    width: 40px;  /* Tamanho do ícone */
    height: auto;
}

.header-prof { 
    align-content: center;
    font-size: 25px;
    height: 65px;
    background-color: #124F8F;
    color: white;
    align-content: end;
}

.turma-atual{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 880px;
    margin-top: 10px;
}
